.header {
    padding: 24px 0px 160px;
    background-color: var(--white);
}

.header__title {
    font-weight: normal;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
    font-family: var(--font-inter);
}