
.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip__bubble {
    display: none;
    padding: 13px 21px 8px;
    box-shadow: 0 2px 4px 0 rgba(33, 36, 41, 0.05);
    background: var(--black);
    border-radius: 10px;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--grey-2);
    white-space: nowrap;
    text-align: center;
    position: absolute;
    bottom: calc(100% + 12px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip__bubble::before {
    content: "";
    border: 10px solid transparent;
    border-top-color: var(--black);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}


.tooltip__trigger:hover ~ .tooltip__bubble {
    display: block;
}